Package: grx-veleta
Priority: optional
Section: grx
Maintainer: Diputación Provincial de Granada, Atención Informática a Usuarios <atencionusuarios@dipgra.es>
Architecture: all
Version: 0.1.2
Depends: grsync , kup-client
Description: Monta la carpeta personal de los usuarios en veleta.

